body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right,#14c279, #00BBC9);
}
h1 {
    font-family: 'Abril Fatface', serif;
}
.drop-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.137);
}
.lead {
    color: white;
    font-size: 2.2rem;
}
.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.233);
}