body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right,#00F490, #00BBC9);
}
h1 {
    font-family: 'Abril Fatface', serif;
}